body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(106, 17, 203, 0.7) 0%, rgba(37, 117, 252, 0.7) 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 90vw;
  margin: auto;
  padding: 0 15px;
}

.builder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Add gap between builders */
}

.builder {
  flex: 1 1 calc(50% - 50px); /* Adjust width to account for the gap */
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.npc-modifiers-builder {
  flex: 1 1 calc(50% - 50px); /* Adjust width to account for the gap */
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.builder__category,
.builder__title,
.builder__values,
.npc-modifiers-builder__label,
.form-group {
  width: 100%;
}

.output-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.output,
.response {
  flex: 1 1 calc(50% - 20px); /* Adjust width to account for the gap */
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content doesn't overflow */
}

.response__output {
  white-space: pre-wrap; /* Allow text to wrap */
  word-wrap: break-word; /* Break words to prevent overflow */
  height: 100%; /* Fill the height of the container */
}

.main-dialog-purpose {
  margin-top: 30px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.relevant-lore-builder__values-list .form-check {
  display: block;
  margin-bottom: 5px;
}

.relevant-lore-builder__values-list .form-check-label {
  display: block;
}

h2, h3 {
  color: #343a40;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

@media (max-width: 768px) {
  .builder, .npc-modifiers-builder {
      flex: 1 1 100%;
  }

  .output-container {
      flex-direction: column;
  }

  .output, .response {
      flex: 1 1 100%;
  }
}
